# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
#[Dd]ebug
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

/Product/Debug/*.pdb
/Product/Debug/*.dll
/Product/Debug/*.config
/Product/Debug/*.exe
/Product/Debug/*.manifest
/Product/Debug/log
/.vs/MyPlatForms/FileContentIndex/9fbe39df-7fbb-4637-ac0f-82036fc850cc.vsidx
/.vs/MyPlatForms/FileContentIndex
/.vs/MyPlatForms/FileContentIndex/abd09ffb-a907-49d5-8582-b5ae30fb2df7.vsidx
/.vs/MyPlatForms/FileContentIndex/d79538e7-4410-47b9-b958-7c0d582f41e4.vsidx
/.vs/MyPlatForms/v17/fileList.bin
