<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add providerName="System.Data.SqlClient" name ="DbConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=StockInfo;User ID=webnetuser;Password=web332net;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;"/>
        <add providerName="MySql.Data" name ="MySqlDbConnection" connectionString="Server=127.0.0.1;Database=mydapper;Uid=root;Pwd=yu3zx;"/>
        <add providerName="System.Data.SQLite" name ="SQLiteDbConnection" connectionString="Data Source=QrRecord.dll;Pooling=true;FailIfMissing=false"/>
    </connectionStrings>
</configuration>