<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
		<add providerName="System.Data.SqlClient" name ="DbConnection" connectionString="Data Source=192.168.1.81;Initial Catalog=hsdyeingerp;User ID=sa;Password=dyeing@2023;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;"/>
	    <add providerName="System.Data.SqlClient" name ="DbConnection1" connectionString="Data Source=127.0.0.1;Initial Catalog=elight;User ID=andywo;Password=Yu3zx@123.com;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;"/>
		<add providerName="MySql.Data" name ="MySqlDbConnection" connectionString="Server=127.0.0.1;Database=taggingsystem;Uid=root;Pwd=yu3zx;"/>
		<!--<add providerName="MySql.Data" name ="MySqlDbConnection" connectionString="Server=127.0.0.1;Database=taggingsystem;Uid=root;Pwd=Qwwg2017;"/>-->
		<add providerName="System.Data.SQLite" name ="SQLiteDbConnection" connectionString="Data Source=MyPlatForms.dll;Pooling=true;FailIfMissing=false"/>
	</connectionStrings>
</configuration>